*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container-profile{
    background-color: white;
}

.container-profile li {
    display: inline;
    margin-left: 20px;
    float: left;
}

.container-profile img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 5rem;
}